/*SLICK CAROUSEL START*/
::ng-deep .assetpage-carousel .slick-prev {
  left: 0;
  z-index: 1;
}
::ng-deep .assetpage-carousel .slick-next {
  right: 0;
  z-index: 1;
}

::ng-deep .assetpage-carousel .slick-next:before {
  content: "";
  position: absolute;
  left: -21px;
  z-index: -1;
  background: #fff;
  -webkit-transform: translateY(-50%) perspective(2px) rotate(270deg);
  /*border: 1px solid #e1e3e7;*/
  border-radius: 9px 9px 0 0;
  box-shadow: 0 0 24px 0 rgba(0,0,0,.5);
  transform: translateY(-50%) perspective(2px) rotate(270deg);
  padding: 14px 26px;
  opacity: 0.65;
}

::ng-deep .assetpage-carousel .slick-next::after {
  content: "";
  position: relative;
  border-left: 9px solid #4d4d4d;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: border-left-color;
  transition-property: border-left-color;
  cursor: pointer;
}

::ng-deep .assetpage-carousel .slick-next:hover:after {
  border-left: 9px solid #1b9ad1;
}

::ng-deep .assetpage-carousel .slick-next:hover:before, ::ng-deep .slick-next:focus:before {
  opacity: 0.75;
}


::ng-deep .assetpage-carousel .slick-prev:before {
  content: "";
  position: absolute;
  left: -10px;
  z-index: -1;
  background: #fff;
  -webkit-transform: translateY(-50%) perspective(2px) rotate(90deg);
  border: 1px solid #e1e3e7;
  border-radius: 9px 9px 0 0;
  box-shadow: 0 0 24px 0 rgba(0,0,0,.5);
  transform: translateY(-50%) perspective(2px) rotate(90deg);
  padding: 14px 26px;
  cursor: pointer;
  opacity: 0.65;
}

::ng-deep .assetpage-carousel .slick-prev::after {
  content: "";
  position: relative;
  border-right: 9px solid #4d4d4d;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: border-right-color;
  transition-property: border-right-color;
}

::ng-deep .assetpage-carousel .slick-prev:hover:after {
  border-right: 9px solid #1b9ad1;
}

::ng-deep .assetpage-carousel .slick-prev:focus:before, ::ng-deep .slick-prev:hover:before {
  opacity: 0.75;
}

/*::ng-deep  .slick-slide {*/
/*  margin-right: 1px;*/
/*}*/

::ng-deep  .slick-list {
  margin-right: 0;
}

::ng-deep .assetpage-carousel .slick-dots {
  bottom: 6px;
}

::ng-deep .assetpage-carousel .slick-dots li button:before {
  color: white;
  opacity: 0.5;
  font-size: 7px;
}

::ng-deep .assetpage-carousel .slick-dots li.slick-active button:before {
  color: white;
  opacity: 0.75;
}
/*SLICK CAROUSEL END*/

/*PORTRAIT AND LANSCAPE*/
.portrait {
  background-position: 50% 50% !important;
  background-size: contain  !important;
  background-repeat: no-repeat  !important;
  min-height: 350px;
  background-color: #d3d3d3;
}

.landscape {
  background-size: cover  !important;
  min-height: 350px;
}
/*PORTRAIT AND LANSCAPE ENDS*/

/*BREADCRUMB STARTS*/
::ng-deep .p-breadcrumb {
  background-color: transparent !important;
  border: none !important;
  padding: 0 0 25px !important;
}

::ng-deep  .p-breadcrumb ul li .p-menuitem-link .p-menuitem-text {
  color: var(--primary) !important;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

::ng-deep .p-breadcrumb ul li.p-breadcrumb-chevron {
  font-size: 12px !important;
}

::ng-deep .p-breadcrumb ul li .p-menuitem-link:focus {
  box-shadow: none !important;
}

::ng-deep .p-breadcrumb ul li:not(:last-child) .p-menuitem-link:hover {
  opacity: 0.8;
}

::ng-deep  .p-breadcrumb ul li:last-child a {
  cursor: inherit !important;
}
/*BREADCRUMB ENDS*/

.section {
  background: #fafafa;
  padding: 24px;
  border-radius: 4px;
  margin: 23px 0;
}

.eachcota-section {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px dashed gray;
}

.buybtn {
  width: 100%;
  padding: 4px;
  margin-top: 10px;
}

@media (min-width: 600px) {
  .sticky-card {
    position: -webkit-sticky;
    position: sticky;
    top: 96px;
    z-index: 1;
  }
}

@media (max-width: 674px) {
  ::ng-deep .target-label {
    margin-bottom: -14px !important;
  }
}

@media (max-width: 694px) {
  .layout-on-694 {
    flex-direction: column !important;
  }
  .layout-on-694 .buy-section {
    order: 1 !important;
    margin-bottom: 40px;
    max-width: unset !important;
  }
  .layout-on-694 .info-section {
    order: 2 !important;
    max-width: unset !important;
  }
}

/*Typography STARTS*/
.label {
  font-size: 16px;
  letter-spacing: .05em;
  padding: 0 5px 0 0;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 700;
}

.label-sm {
  font-size: 14px;
}

.margint-30 {
  margin: 30px 0;
}

.warn-info {
  font-size: 13px;
  margin: 7px 10px 0;
  color: #737373;
}

.rent-value {
  margin-bottom: 10px;
  border-bottom: 1px dashed #cccccc;
  padding-bottom: 8px;
}
/*Typography ENDS*/

.min-btn {
  border-radius: 4px 0 0 4px;
  font-size: 12px;
}

.max-btn {
  border-radius: 0 4px 4px 0;
  font-size: 12px;
}

::ng-deep .shares-input > .p-inputnumber > .p-inputnumber-input {
  width: 100%;
  padding: 1rem 1.25rem;
}

::ng-deep .shares-input > .p-inputnumber {
  max-width: 216px;
}

.balance-divider {
  padding: 16px;
  background: #fafafa;
  margin: 20px 0 16px;
  border-radius: 7px;
}

.mobile-buy-btn {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-radius: 0;
  min-height: 42px;
  text-transform: uppercase;
  z-index: 2;
}
