/*DATAVIEW STARTS*/
::ng-deep .assets-table .p-dataview-header {
  border: 0 !important;
  background-color: #fafafa !important;
  border-bottom: 1px solid #e8e8e8 !important;
  border-radius: 8px 8px 0 0 !important;
}

::ng-deep .assets-table .p-dataview-content {
  border: 0 !important;
}

::ng-deep .assets-table .p-dataview .p-paginator-bottom {
  border-radius: 8px;
}

::ng-deep .assets-table .p-dataview .p-paginator-top {
  border-radius: 0 0 8px 8px;
}
/*DATAVIEW ENDS*/

button {
  margin: 3px;
}

.table-btn {
  padding: 0;
  min-width: 41px;
}

/*TYPOGRAPHY STARTS*/
.paddingt-12 {
  padding: 12px 0;
}
/*TYPOGRAPHY ENDS*/

/*DIALOG WIDTH START*/
@media screen and (max-width: 599px) {
  ::ng-deep .width-dialog {
    max-width: 100vw !important;
  }
}
@media (min-width: 600px) and (min-width: 1137px) {
  ::ng-deep .width-dialog {
    width: 80vw;
  }
}
@media screen and (min-width: 1138px) {
  ::ng-deep .width-dialog {
    width: 910px;
  }
}
/*DIALOG WIDTH END*/

.table-title {
  margin-bottom: 0;
}
