.error-badge {
  color: var(--warn);
  margin-top: 16px;
  font-size: 14px;
  text-align: center;
  background-color: #ffe4e4;
  border: 1px solid #eabcbc;
  padding: 8px;
  border-radius: 5px;
}

.check {
  color: var(--success);
  font-size: 41px;
  margin-bottom: -10px;
}

.loader {
  display: inline;
  margin-left: 10px;
}

.footer {
  font-size: 13px;
  color: #737373;
}

.footer fa-icon {
  font-size: 16px;
  color: #737373;
}
