<div class="h-100vh" fxLayout="column" fxLayoutAlign="start stretch">
  <mat-toolbar *ngIf="!updateMode" class="client-toolbar">
    <mat-toolbar-row fxLayoutAlign="center center">
      <!--    <mat-icon class="hamburger" *ngIf="isHandset$ | async">menu</mat-icon>-->
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
        <img src="assets/logo.png" style="width: 100px; cursor: pointer" routerLink="/home" alt="Brix"/>
      </div>
      <div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <div style="padding-top: 80px; flex: 1">
    <div class="container-mobile">
      <mat-card class="mat-elevation-z0 animate__animated animate__fadeIn animate__faster" style="margin: 20px"
                *ngIf="!redefineSuccess">
        <mat-card-content style="text-align: center">
          <form [formGroup]="passForm" autocomplete="off">

            <input id="username" style="display:none" type="text" name="fakeusernameremembered">
            <input id="password" style="display:none" type="password" name="fakepasswordremembered">

            <ng-container *ngIf="!updateMode">
              <h2>Redefinir senha</h2>
              <h3 style="font-weight: normal; margin-bottom: 30px">Você solicitou uma alteração de senha. Basta
                preencher
                os campos abaixo para atualizar sua senha sua senha ;)</h3>
            </ng-container>

            <ng-container *ngIf="updateMode">
              <h2>Alterar Senha</h2>
            </ng-container>

            <div class="p-grid">

              <mat-form-field *ngIf="updateMode" appearance="outline" class="p-col-12">
                <mat-label>Senha atual *</mat-label>
                <input matInput formControlName="currentPass" type="password" autocomplete="old-password">
              </mat-form-field>

              <mat-form-field appearance="outline" class="p-col-12">
                <mat-label>Nova senha *</mat-label>
                <input matInput formControlName="password" type="password" autocomplete="new-password"
                       (blur)="passCompare(passForm.value)">
              </mat-form-field>

              <mat-form-field appearance="outline" class="p-col-12">
                <mat-label>Repita a nova senha *</mat-label>
                <input matInput formControlName="password2" type="password" autocomplete="new-password"
                       (blur)="passCompare(passForm.value)">
              </mat-form-field>

              <div *ngIf="!updateMode" class="p-col-12">
                <button mat-flat-button class="next-btn" style="width: 100%" color="primary"
                        [disabled]="passForm.invalid"
                        (click)="resetPassword()">
                  Redefinir senha
                  <mat-spinner color="accent" diameter="17" class="loader" *ngIf="redefineSending"></mat-spinner>
                </button>
              </div>

              <div *ngIf="updateMode" class="p-col-12">
                <button mat-flat-button class="next-btn" style="width: 100%" color="primary"
                        [disabled]="passForm.invalid"
                        (click)="updatePassword()">
                  Confirmar alteração de senha
                  <mat-spinner color="accent" diameter="17" class="loader" *ngIf="redefineSending"></mat-spinner>
                </button>
              </div>

              <div class="p-col-12">
                <div class="error-badge animate__animated animate__fadeInDown animate__faster"
                     *ngIf="passForm.get('password2').errors?.incorrect">
                  <fa-icon [icon]="faWarn"></fa-icon>
                  As senhas não são iguais!
                </div>
                <div class="error-badge animate__animated animate__fadeInDown animate__faster"
                     *ngIf="redefineErr === 'NOT_FOUND'">
                  <fa-icon [icon]="faWarn"></fa-icon>
                  Url inválida. Por favor, verifique o email novamente.
                </div>

                <div class="error-badge animate__animated animate__fadeInDown animate__faster"
                     *ngIf="redefineErr === 'EXPIRED'">
                  <fa-icon [icon]="faWarn"></fa-icon>
                  Link expirado. Por favor, faça o pedido para redefinir a senha novamente.
                </div>

                <div class="error-badge animate__animated animate__fadeInDown animate__faster"
                     *ngIf="redefineErr === 'WRONG_PASS'">
                  <fa-icon [icon]="faWarn"></fa-icon>
                  Senha atual incorreta.
                </div>

                <div class="error-badge animate__animated animate__fadeInDown animate__faster"
                     *ngIf="redefineErr === 'e'">
                  <fa-icon [icon]="faWarn"></fa-icon>
                  Ops, algo deu errado! Falha ao conectar.
                </div>
              </div>
            </div>
          </form>
        </mat-card-content>
      </mat-card>


      <mat-card class="mat-elevation-z0 animate__animated animate__fadeInDown animate__faster" style="margin: 20px"
                *ngIf="redefineSuccess">
        <mat-card-content style="text-align: center">
          <div class="check">
            <fa-icon [icon]="faCheck"></fa-icon>
          </div>
          <h2>Sucesso</h2>
          <h3 style="font-weight: normal; margin-bottom: 30px">Sua senha foi redefinida com sucesso!</h3>
          <div class="p-grid">
            <div class="p-col-12">
              <button mat-flat-button class="next-btn" style="width: 80%" color="primary" routerLink="/home">
                <img src="assets/symbol3.png/" style="width: 22px; margin-right: 5px; margin-bottom: 4px;" alt="Brix">
                Voltar para Brix
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

    </div>
  </div>

  <app-footer></app-footer>
</div>
