.delete-btn {
  padding: 0 6px;
  min-width: unset;
}

.preview-file-row {
  background-color: #efefef;
  height: 50px;
}

.error-msg {
  color: #f44538;
  margin: 5px 3px 20px !important;
}

.img-section {
  margin-top: 20px
}

.info {
  margin-top: -10px;
}

.overlay-container {
  position: relative;
  width: 99.34px;
  height: 37.27px;
}

.next-btn {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.next-btn[disabled], .finish-btn[disabled] {
  background-color: var(--primary);
  color: white;
  opacity: 0.6;
}

.overlay-btn {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
}

::ng-deep .red-border .mat-radio-outer-circle {
  border-color: var(--warn);
}

.margint-20 {
  margin-top: 20px;
}
