/*DATAVIEW STARTS*/
::ng-deep .assets-table .p-dataview-header {
  border: 0 !important;
  background-color: #fafafa !important;
  border-bottom: 1px solid #e8e8e8 !important;
}

::ng-deep .assets-table .p-dataview-content {
  border: 0 !important;
}
/*DATAVIEW ENDS*/

button {
  margin: 3px;
}

.table-btn {
  padding: 0;
  min-width: 41px;
}


/*LIST - SLICK IMAGE-CAROUSEL STARTS*/
::ng-deep .list-carousel .slick-prev {
  left: 0;
  z-index: 1;
}
::ng-deep .list-carousel .slick-next {
  right: 0;
  z-index: 1;
}

::ng-deep .list-carousel .slick-next:before {
  content: "";
  position: absolute;
  left: -12px;
  z-index: -1;
  background: #fff;
  -webkit-transform: translateY(-50%) perspective(2px) rotate(270deg);
  /*border: 1px solid #e1e3e7;*/
  border-radius: 9px 9px 0 0;
  box-shadow: -1px -1px 6px 0 rgba(0,0,0,.5);
  transform: translateY(-50%) perspective(2px) rotate(270deg);
  padding: 13px 19px;
  opacity: 0.65;
}

::ng-deep .list-carousel .slick-next::after {
  content: "";
  position: relative;
  border-left: 9px solid #4d4d4d;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: border-left-color;
  transition-property: border-left-color;
  cursor: pointer;
}

::ng-deep .list-carousel .slick-next:hover:after {
  border-left: 9px solid #1b9ad1;
}

::ng-deep .list-carousel .slick-next:hover:before, ::ng-deep .slick-next:focus:before {
  opacity: 0.75;
}


::ng-deep .list-carousel .slick-prev:before {
  content: "";
  position: absolute;
  left: -6px;
  z-index: -1;
  background: #fff;
  -webkit-transform: translateY(-50%) perspective(2px) rotate(90deg);
  border: 1px solid #e1e3e7;
  border-radius: 9px 9px 0 0;
  box-shadow: 0 0 24px 0 rgba(0,0,0,.5);
  transform: translateY(-50%) perspective(2px) rotate(90deg);
  padding: 13px 19px;
  cursor: pointer;
  opacity: 0.65;
}

::ng-deep .list-carousel .slick-prev::after {
  content: "";
  position: relative;
  border-right: 9px solid #4d4d4d;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: border-right-color;
  transition-property: border-right-color;
}

::ng-deep .list-carousel .slick-prev:hover:after {
  border-right: 9px solid #1b9ad1;
}

::ng-deep .list-carousel .slick-prev:focus:before, ::ng-deep .slick-prev:hover:before {
  opacity: 0.75;
}

::ng-deep .list-carousel .slick-dots {
  bottom: 3px;
}

::ng-deep .list-carousel {
  margin-bottom: 0 !important;
}

::ng-deep .list-carousel .slick-dots li button:before {
  color: white;
  opacity: 0.6;
}

::ng-deep .list-carousel .slick-dots li.slick-active button:before {
  color: white;
  opacity: 0.9;
}
/*LIST - SLICK IMAGE-CAROUSEL END*/

/*SLICK GRID IMAGE CAROUSEL START*/
::ng-deep .grid-carousel .slick-prev {
  left: 0;
  z-index: 1;
}

::ng-deep .grid-carousel .slick-next {
  right: 0;
  z-index: 1;
}

/*FUNDO da seta de avançar - direita*/
::ng-deep .grid-carousel.hideArrow .slick-next:before {
  content: "";
  opacity: 0;
}

::ng-deep .grid-carousel.showArrow .slick-next:before {
  content: "";
  position: absolute;
  left: -20px;
  z-index: -1;
  background: #fff;
  border-radius: 9px 9px 0 0;
  padding: 14px 26px;
  transform: translateY(-50%) perspective(2px) rotate(270deg);
  -webkit-transform: translateY(-50%) perspective(2px) rotate(270deg);
  opacity: 0.65;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

/*hover do FUNDO da seta de avançar*/
::ng-deep .grid-carousel .slick-next:hover:before, ::ng-deep .slick-next:focus:before {
  opacity: 0.75;
}

/*setinha de avançar - para direita*/
::ng-deep .grid-carousel.hideArrow .slick-next::after {
  content: "";
  opacity: 0;
}

::ng-deep .grid-carousel.showArrow .slick-next::after {
  content: "";
  position: relative;
  border-left: 9px solid #4d4d4d;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: border-left-color, opacity;
  transition-property: border-left-color, opacity;

}

/*hover da setinha de avançar*/
::ng-deep .grid-carousel .slick-next:hover:after {
  border-left: 9px solid #1b9ad1;
}


/*FUNDO da seta de voltar - esquerda*/
::ng-deep .grid-carousel.hideArrow .slick-prev:before {
  content: "";
  opacity: 0;
}

::ng-deep .grid-carousel.showArrow .slick-prev:before {
  content: "";
  position: absolute;
  left: -12px;
  z-index: -1;
  background: #fff;
  -webkit-transform: translateY(-50%) perspective(2px) rotate(90deg);
  border: 1px solid #e1e3e7;
  border-radius: 9px 9px 0 0;
  transform: translateY(-50%) perspective(2px) rotate(90deg);
  padding: 14px 26px;
  opacity: 0.65;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

/*hover do FUNDO da seta de voltar - esquerda*/
::ng-deep .grid-carousel .slick-prev:focus:before, ::ng-deep .slick-prev:hover:before {
  opacity: 0.75;
}

/*setinha de voltar - para esquerda*/
::ng-deep .grid-carousel.hideArrow .slick-prev::after {
  content: "";
  opacity: 0;
}

::ng-deep .grid-carousel.showArrow .slick-prev::after {
  content: "";
  position: relative;
  border-right: 9px solid #4d4d4d;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: border-right-color, opacity;
  transition-property: border-right-color, opacity;
}

/*hover da setinha de voltar*/
::ng-deep .grid-carousel .slick-prev:hover:after {
  border-right: 9px solid #1b9ad1;
}

::ng-deep .grid-carousel .slick-dots {
  bottom: 0;
}

::ng-deep .grid-carousel .slick-dots li.slick-active button:before {
  color: white;
  opacity: 0.9;
}

::ng-deep .grid-carousel .slick-dots li button:before {
  color: white;
  opacity: 0.5;
}

::ng-deep .slick-dotted.slick-slider.grid-carousel {
  margin-bottom: 15px;
}
/*GRID - SLICK IMAGE CAROUSEL END*/

/*.asset-row {*/
/*  padding: 2em 0;*/
/*  border-bottom: 1px solid #d9dad9;*/
/*}*/

/*TYPOGRAPHY STARTS*/
.margint-12 {
  margin: 12px 0;
}

.paddingt-12 {
  padding: 12px 0;
}

.price {
  font-size: 16px;
  letter-spacing: .05em;
}

.label {
  font-size: 12px;
  letter-spacing: .05em;
  padding: 0 5px 0 0;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 700;
}
/*TYPOGRAPHY ENDS*/

/*LIST - ASSET CARD START*/
.asset-card-list {
  padding: 0;
  margin-top: 20px;
  margin-bottom: 5px;
}

.asset-card-list:hover {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 5px 8px 0 rgba(0, 0, 0, 0.14), 0 1px 14px 0 rgba(0, 0, 0, 0.12);
}
/*.first-card {*/
/*  margin-top: 15px;*/
/*}*/

.last-card {
  margin-bottom: 5px;
}

.asset-card-list .mat-card-content {
  padding: 12px 10px 12px 20px;
  margin-bottom: 0;
}

.asset-card-list .mat-card-actions {
  margin: 0;
  padding: 8px 0;
}

.asset-card-list .mat-card-actions .mat-stroked-button:first-child {
  margin: 0 8px;
}

.asset-card-list .mat-card-actions:last-child {
  margin-bottom: 0;
  /*padding-bottom: 0;*/
}

.asset-card-list .mat-card-actions {
  padding: 0;
}

.circle-btn {
  border-radius: 50%;
  height: 40px;
  width: 40px !important;
  padding: 0;
  min-width: 40px;
}

.asset-card-list .section-row {
  background-color: #f2f3f7;
  width: 90%;
  padding: 5px 0 5px 10px;
  border-radius: 5px;
  margin-bottom: 1px !important;
}
/*LIST - ASSET CARD END*/

/*GRID - ASSET CARD START*/
.bgimg {
  border-radius: 15px 15px 0 0;
}

.asset-card-grid {
  padding: 0;
  margin: 10px 8px;
  border-radius: 15px;
}

.asset-card-grid:hover {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 5px 8px 0 rgba(0, 0, 0, 0.14), 0 1px 14px 0 rgba(0, 0, 0, 0.12);
}
.asset-card-grid .mat-card-header {
  padding: 0 16px;
}

.asset-card-grid .mat-card-content {
  padding: 0 16px;
  margin-bottom: 0;
}

.asset-card-grid .mat-card-actions {
  padding: 0 8px;
}
/*ASSET CARD ENDS*/

/*LIST - PORTRAIT AND LANSCAPE STARTS*/
.bgimg-list {
  border-radius: 4px 0 0 4px;
}

.portrait-list {
  background-position: 50% 50% !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  min-height: 176px;
  background-color: #d3d3d3;
}

.landscape-list {
  background-size: cover !important;
  min-height: 176px;
}
/*LIST -  PORTRAIT AND LANSCAPE ENDS*/

/*GRID - PORTRAIT AND LANSCAPE STARTS*/
.portrait-grid {
  background-position: 50% 50% !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  min-height: 150px;
  background-color: #d3d3d3;
}

.landscape-grid {
  background-size: cover !important;
  min-height: 150px;
}
/*GRID -  PORTRAIT AND LANSCAPE ENDS*/

.btn-sm {
  line-height: 1.15rem;
  letter-spacing: .073em;
  font-size: 12px;
  font-weight: 700;
  height: auto;
  padding: 0 .6rem;
  cursor: pointer;
  display: inline-block;
  -webkit-appearance: none !important;
  border-radius: 5px;
  min-width: 3.6rem;
  max-width: 18rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  background-color: transparent;
}

.btn-primary {
  color: var(--primary);
  border: .05rem solid var(--primary);
}
