<div class="container-lg" ngStyle.gt-xs="margin-top: 70px" ngStyle.lt-sm="margin-top: 140px">
  <div fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-around center" fxLayoutGap.gt-xs="50px"
       fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="space-around center" fxLayoutGap.lt-sm="0"
       class="animate__animated animate__fadeInLeft">
    <div fxFlex.gt-xs="50" fxFlexOrder.gt-xs="1" fxFlexOrder.lt-sm="2">
      <h1>Sobre nós</h1>
      <p>A Brix BR é a primeira plataforma no Brasil de venda fracionada de imóveis. Nós estamos totalmente
        integrados à plataforma do e-cartórios de modo que, ao adquirir sua fração do imóvel, você automaticamente
        assinará uma escritura eletrônica sendo dono legitimo de sua fração. Não vendemos cotas de fundo Imobiliário!
        Vendemos uma fração do imóvel! São coisas completamente diferentes.
        <br><br>
        Na Brix você se torna, juridicamente, dono de uma fração do imóvel, podendo permanecer dono para o resto da
        vida ou, se preferir, poderá vender sua fração na própria plataforma (funcionalidade em desenvolvimento).
        <br><br>
        Para o vendedor, por outro lado, representa a possibilidade de dar liquidez à um imóvel que, pelo valor, poderia
        ser muito difícil de vender!
        <br><br>
        Além disso, pela plataforma da Brix, você, comprador de uma fração do imóvel, poderá receber online, na sua
        conta diretamente, os rendimentos de alugueis daquele imóvel. Com transparência e segurança.
      </p>
    </div>
    <div fxFlex.gt-xs="50" fxFlexOrder.gt-xs="2" fxFlexOrder.lt-sm="1">
      <img src="assets/logo.png" ngStyle.gt-xs="width: 100%" ngStyle.lt-sm="width: 70%" style=""/>
    </div>
  </div>

  <div fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-around center" fxLayoutGap.gt-xs="50px"
       fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="space-around center" fxLayoutGap.lt-sm="20px"
       class="animate__animated animate__fadeInRight">
    <div class="text-center" fxFlex.gt-xs="50" fxFlexOrder.gt-xs="1" fxFlexOrder.lt-sm="2">
      <img src="assets/icon-mission.png" style="width: 58%"/>
    </div>
    <div fxFlex.gt-xs="50" fxFlexOrder.gt-xs="2" fxFlexOrder.lt-sm="1">
      <h1>Nossa Missão</h1>
      <p>
        A Brix BR pretender democratizar a compra e venda de imóveis no Brasil. Sabe aquele hotel, ou aquele
        Shopping Center que sempre te pareceu um ótimo negócio mas que você nunca teve condições de comprar ou ser sócio?
        Pois agora você pode!
        <br><br>
        Na Brix você pode investir desde 0,1% da fração de um imóvel até 100% e com total segurança e
        transparência!
        <br><br>
        Brix é uma disrupção no mercado de imóveis no Brasil.
      </p>
    </div>
  </div>
</div>


