.blue-bg {
  background: var(--primary);
  color: white;
  padding: 15px 55px 40px;
}

.white-bg {
  box-shadow: -14px -9px 16px 20px #00000036;
  z-index: 1;
  padding: 15px 55px 40px;
}

.title {
  font-weight: 300;
  font-size: 38px;
  margin-top: 0;
}

.subtitle {
  margin-bottom: 0;
  font-weight: 300;
  font-size: 16px;
}

.login-btn {
  margin-top: 14px;
}

::ng-deep .login-modal .mat-dialog-container {
  padding: 0;
  overflow-x: hidden;
}

@media screen and (max-width: 540px) {
  ::ng-deep .login-modal {
    max-width: 100vw !important;
  }
}

@media screen and (max-width: 640px) {
  ::ng-deep .login-modal .mat-dialog-content {
    max-height: 95vh;
  }

  .hidesubtitle {
    display: none;
  }
  .blue-bg {
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 641px) and (max-width: 769px) {
  .login-panel {
    padding: 15px 30px 40px;
  }
}

@media screen and (min-width: 1029px) {
  .recoverpass-btn {
    margin-top: 30px;
  }
}

@media screen and (min-width: 641px) and (max-width: 1028px) {
  .recoverpass-btn {
    margin-top: 7px;
  }
}

::ng-deep .blue-bg .mat-form-field-appearance-legacy .mat-form-field-label {
  color: white;
}

::ng-deep .blue-bg .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: white;
}

::ng-deep .blue-bg .mat-form-field.mat-focused .mat-form-field-label {
  color: white;
}

.success-msg {
  background-color: var(--success-bg);
  border: 1px solid #a9dca9;
  color: #395939;
  font-size: 14px;
  border-radius: 5px;
  padding: 8px;
  margin-top: 22px;
}

.info-msg {
  margin-top: 22px;
}

.error-badge {
  margin-top: 16px;
}

.error-btn {
  margin-top: 16px;
}

.error-btn:hover {
  background-color: #ffe4e4;
}

.loader {
  display: inline;
  margin-left: 10px;
}

.lineheight {
  line-height: 1px;
}

::ng-deep .recoverpass-btn .mat-button-wrapper {
  white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  white-space: pre-wrap;       /* css-3 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
  word-break: break-word;
  white-space: normal;
}

@media screen and (max-width: 1028px) {
  .recoverpass-btn {
    line-height: 24px;
    padding: 5px 16px;
  }
}

.close-dialog {
  margin-bottom: 0;
}


