.info-tooltip {
  color: var(--primary);
  cursor: pointer;
}

.info-tooltip:hover {
  opacity: 0.7;
}

::ng-deep .tooltip-bigger {
  font-size: 15px;
  white-space: pre-line;
}

.overlay-container {
  position: relative;
  width: 99.34px;
  height: 37.27px;
}

.next-btn {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.next-btn[disabled] {
  background-color: var(--primary);
  color: white;
  opacity: 0.6;
}

.overlay-btn {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
}

::ng-deep .red-border .mat-radio-outer-circle {
  border-color: var(--warn);
}

.section-row {
  background-color: #f2f3f7;
  width: 90%;
  padding: 5px 0 5px 10px;
  border-radius: 5px;
  margin-bottom: 1px !important;
}

.balance-divider {
  padding: 16px;
  background: #f2f3f7;
  margin: 20px 0 16px;
  border-radius: 7px;
}

.hint {
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
}

.margint-20 {
  margin-top: 20px;
}

.self-center {
  align-self: center;
}

.self-end {
  align-self: flex-end;
}
