<div class="container-dash animate__animated animate__fadeIn animate__faster">
  <mat-card class="header table-card mat-elevation-z0" style="margin-top: 60px">
    <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="table-card-header">
      <h3 class="table-title faded">Ordens de Compra</h3>
    </div>

    <mat-expansion-panel *ngFor="let asset of assetsService.assets">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{asset.title}}
        </mat-panel-title>
        <mat-panel-description>
          Registro: {{asset.recordId}}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-table [dataSource]="asset.purchaseOrdersArray">
        <ng-container matColumnDef="from">
          <mat-header-cell *matHeaderCellDef> De </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element['from']}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef> E-mail </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element['email']}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="quantity">
          <mat-header-cell *matHeaderCellDef> Valor Total </mat-header-cell>
          <mat-cell *matCellDef="let element"> R$ {{element['quantity'] | number:'1.2-2':'pt-BR'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="shares">
          <mat-header-cell *matHeaderCellDef> Total de Frações </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element['shares'] | number:'1.2-2':'pt-BR'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef> Ações </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <div fxLayout="row" fxLayoutGap="5px">
              <button mat-raised-button class="buttonLight" (click)="onApprove(asset.recordId, element['account'])">Aprovar</button>
              <button mat-raised-button class="buttonLight" (click)="onDeny(asset.recordId, element['account'])">Negar</button>
            </div>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </mat-expansion-panel>
  </mat-card>
</div>
